<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>
    <body>
        <div class="main-content">
            <h1>{{>header}}</h1>
        </div>
        <p>
            This site is created by Sid Busa . There is Data Come From mapbox.com and darksky.net
        </p><br>
         <p>
            This site Provide Complate Details About Perticular location    
        </p>
        <footer>
          {{>footer}}
      </footer>
    </body>
</html>